.jumbotron {
  background-color: #faff00;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #ff7f7f;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  background-color: #baff8e;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-detalles {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
  padding-left: 0px;
}
.icon-detalles {
  padding-right: 10px;
  padding-left: 0px;
}
.image-playa {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: 0px;
}
