$yellow: #faff00;
$red: #ff7f7f;
$green: #baff8e;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding ($right, $left){
	padding-right: $right;
	padding-left: $left;
}

.jumbotron {
	background-color:$yellow;
	color:black;
	@include margenes (50px, 15px);

}

.footer {
	padding:10px 10px 0 10px;
	background-color:$red;
	@include margenes (30px, 15px);
}

.card-hotel {
	flex: 1 200px;
	background-color:$green;
	@include margenes(30px, 15px);
}

.btn-detalles {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	@include padding (30px, 15px)
}

.icon-detalles {
	@include padding (30px, 15px)
}
.image-playa {
	width: 100%;
	height: 300px;
	margin-top: 10px;
}

.tab-content {
	padding-top: 10px;
}
