  @yellow: #faff00;
  @red: #ff7f7f;
  @green: #baff8e;
.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.padding (@right, @left){
  padding-right: @right;
  padding-left: @left;
}

.jumbotron {
  background-color:@yellow;
  color:black;
  .margenes (50px, 10px);

}

.footer {
  padding:10px 10px 0 10px;
  background-color:@red;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  background-color:@green;
  .margenes(10px, 0px);
}

.btn-detalles {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  .padding(10px, 0px)
}

.icon-detalles {
  .padding(10px, 0px)
}
.image-playa {
  width: 100%;
  height: 300px;
  .margenes(10px, 0px);
}

.tab-content {
  .margenes(10px, 0px);
}