.jumbotron {
  background-color: #faff00;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ff7f7f;
  margin-top: 30px;
  margin-bottom: 15px; }

.card-hotel {
  flex: 1 200px;
  background-color: #baff8e;
  margin-top: 30px;
  margin-bottom: 15px; }

.btn-detalles {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 30px;
  padding-left: 15px; }

.icon-detalles {
  padding-right: 30px;
  padding-left: 15px; }

.image-playa {
  width: 100%;
  height: 300px;
  margin-top: 10px; }

.tab-content {
  padding-top: 10px; }
